@{
    ViewData["Title"] = "Privacy Policy";
}
@using SliceDelivery.Controllers
@inject LanguageService language

<section class="review" id="review">
    <h1 class="heading">@language.GetKey("customRev")</h1>
    <div class="box-container">
        <div class="box">
            <img src="~/images/pngwing.com (8).png" alt="quote">
            <p> @language.GetKey("revFirst")</p>
            <img src="~/images/pngwing.com (9).png" alt="customer-avatar" class="user">
            <h3>@language.GetKey("revNameFirst")</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/pngwing.com (8).png" alt="quote">
            <p>@language.GetKey("revSec")</p>
            <img src="~/images/pngwing.com (10).png" alt="customer-avatar" class="user">
            <h3>@language.GetKey("revNameSec")</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
        <div class="box">
            <img src="~/images/pngwing.com (8).png" alt="quote">
            <p>@language.GetKey("revThir")</p>
            <img src="~/images/pngwing.com (11).png" alt="customer-avatar" class="user">
            <h3>@language.GetKey("revNamethir")</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
        </div>
    </div>
</section> 