@model List<SliceDelivery.Domain.ViewModels.Order.OrderViewModel>
@{
    ViewData["Title"] = @language.GetKey("cart");
}

@using SliceDelivery.Controllers
@inject LanguageService language
<head>
    <title>@language.GetKey("cart")</title>
  <link rel="stylesheet" type="text/css" href="css.css">
   <style>
       .row{
           width: 1643px;
           margin: 0 auto;
       }
        .container{
            margin-top: 90px;
            margin-bottom: 250px;

        }
       .superBody{
           margin-top: 150px !important;
       }
       
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: "Helvetica Neue", Arial, sans-serif;
            font-size: 14px;
            margin: 0;
            padding: 20px;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f9f9f9;
        }

        td > img {
            max-width: 50px;
            max-height: 50px;
            vertical-align: middle;
        }
        .cartBot{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;
        }
        .total-price {
            font-weight: bold;
        }
         .order-btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .order-btn:hover {
            background-color: #45a049;
        }

        .empty{
            font-size: 36px;
            color: #fff;
            margin: 0 auto;
            text-align:center;
            margin-top: 250px;
            margin-bottom: 290px;
        }


    </style>
</head>


@{
    var cardStyle = "col-md-12";
    if (Model != null)
    {
        switch (Model.Count)
        {
            case 2:
                cardStyle = "col-md-6";
                break;
            case 3:
                cardStyle = "col-md-4";
                break;
        }
    }
}
@if (Model == null || Model.Count == 0)
{
    <p class="empty">@language.GetKey("cartEmpty")</p>
}
else
{
    
       


            <div class="superBody">
                <div class="container">
                    <h1>Корзина</h1>

                    <table>
                        <thead>
                            <tr>
                                <th>Фото</th>
                                <th>@language.GetKey("cartName")</th>
                                <th>@language.GetKey("cartType")</th>
                                <th>@language.GetKey("cartPrice")</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody>
                    @foreach (var item in Model)
                    {
                            <tr>
                                <td><img src="@item?.Image" alt="Фото продукта"></td>
                                <td> @item.ProductName</td>
                                <td> @item.ProductType</td>
                                <td> @item.CurrentPrice</td>
                                <td> <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">@language.GetKey("cartDel")</a> </td>
                            </tr>
                    }
                        </tbody>
                    </table>

                </div>
            </div>
}