@model SliceDelivery.Domain.ViewModels.Mailer.MailerViewModel
@{
    ViewData["Title"] = @language.GetKey("contactUs");
}
@using SliceDelivery.Controllers
@inject LanguageService language

 <section class="contact" id="contact">
    <h1 class="heading"> @language.GetKey("contactUs") </h1>
    <div class="row">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1250.622713006621!2d71.41501929839477!3d51.1776993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4245872cf57a5a1f%3A0x7e1babc14a321933!2z0JLRi9GB0YjQuNC5INC60L7Qu9C70LXQtNC2ICJBc3RhbmEgUG9seXRlY2huaWMiINCz0L7RgNC-0LTQsCDQndGD0YAt0KHRg9C70YLQsNC9!5e0!3m2!1sru!2skz!4v1683017357604!5m2!1sru!2skz" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <form id="orderFormId" method="post" asp-controller="Home" asp-action="Mailer">
            <h3>@language.GetKey("getInTouch")</h3>
                <div class="inputBox">
                    <i class="fas fa-user"></i>
                    <input asp-for="Name" type="text" name="name" placeholder="@language.GetKey("name")">
                </div>
                <div class="inputBox">
                    <i class="fas fa-envelope"></i>
                <input asp-for="Email" type="email" name="email" placeholder="@language.GetKey("email")">
                </div>
                <div class="inputBox">
                    <i class="fas fa-phone"></i>
                <input asp-for="Number" type="text" name="number" placeholder="@language.GetKey("number")">
                </div>
            <input id="mailer" type="submit" class="btn" value="@language.GetKey("contactNow")">
            </form>
    </div>
</section>

                    
@section pageScripts
    {
    <script>
        $('#mailer').on('click', function(e) {
            e.preventDefault();
            const model = $('#orderFormId').serialize();
            $.ajax({
                url: '@Url.Action("Mailer")',
                type: 'POST',
                data: model,
                success: function(response) {
                    Swal.fire({
                        title: '@language.GetKey("info")',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: '@language.GetKey("ok")'
                    })
                },
                error: function(response) {
                    Swal.fire({
                        title: '@language.GetKey("info")',
                        text: '@language.GetKey("error")',
                        icon: 'error',
                        confirmButtonText: '@language.GetKey("ok")'
                    })
                }
            })
        });
    </script>
}