@model SliceDelivery.Domain.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = @language.GetKey("reg");
}
@using SliceDelivery.Controllers
@inject LanguageService language

<head>
    <title>Страница входа</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <style>
            body {
            font-family: Arial, sans-serif;
            background-color: #F0B559;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 400px;
            margin: 100px auto;
            margin-bottom: 200px;
            padding: 60px;
            min-height: 481px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 18px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 15px 10px;
            border-radius: 5px;
            height: 40px;
            border: 1px solid #ccc;
            font-size: 14px;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #252525;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #F0B559;
            }
            .btn-success{
                width: 100%;
            }
             ul, li{
            font-size: 12px;
            text-align: left;
            margin-left: 5px;
        }

        /* Анимация */

    </style>

</head>
<body>
    <div class="container">
        <h2>@language.GetKey("reg")</h2>
        <form asp-controller="Home" asp-action="Register">
            <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
            <div class="form-group">
                <input asp-for="Name" class="form-control textbox-dg font-weight-bold text-center" placeholder="@language.GetKey("loginAc")" type="text">
            </div>
            <div class="form-group">
                <input autocomplete="new-password" asp-for="Password" placeholder="@language.GetKey("pass")" class="form-control textbox-dg font-weight-bold text-center" type="password">
                <span class="text-black" style="font-size: small; font-family:'Comic Sans MS'">@language.GetKey("passValid")</span>
            </div>
          
            <div class="form-group">
                <input autocomplete="new-password" asp-for="PasswordConfirm" placeholder="@language.GetKey("repeatPass")" class="form-control textbox-dg font-weight-bold text-center" type="password">
            </div>
           <!-- <div>
            <h2 class="paragraphHome text-center"><a asp-controller="Home" target="_blank" asp-action="Login" style="color:deepskyblue;">Вход</a></h2>
            </div>-->
            <button class="btn btn-success btn-lg float-right" type="submit">@language.GetKey("send")</button>
        </form>
    </div>
    <script src="script.js"></script>
</body>